venv/
__pycache__/
*.pyc
.env
*.env
assets/generated_images/
# Ignore heavy generated outputs
assets/generated_images/*
assets/audio/*
assets/animation_clips/*
assets/final_videos/*

# BUT allow samples
!assets/samples/
!assets/samples/**
stable-diffusion-webui/